
<app-header [myData1]="firsttagline" [myData2]="secondtagline" [myData3]="thirdtagline"></app-header>

<div class="py-4">
    
    <h2 class="text-center license_head py-2">Content Licensing</h2>
    <div class="container text-center">
        <p class="license_content">Rights pre-sale / Post sale are an important factor in enhancing revenue predictability for film business and
            are
            a vital part of diversification strategy to secure revenue visibility for film producers and financers. We
            bring
            production houses and acquisitions companies on common platform. We act as consultancy service for acquiring
            or
            selling TV rights, audio rights, VOD other available options include Satellite rights, Cable TV Rights and
            IPTV
            Rights etc. of content belonging to a wide array of genres and formats.</p>
        <p class="license_content">
            We are strategically aligned with major film, television and Internet platform brands such as, Zee TV,
            Ultra,
            Eros International, Vision Music, Venus, T- series, Shemaroo, Viacom, hotstar , Colors, Sony, Netflix, Amazon Prime,
            Balaji Alt etc for licensing, acquiring and selling rights.
        </p>
    </div>


</div>
<!-- <div class="back ">

    <div class="container licensingimage ">
        <div class="text-center">
            <img src="../../assets/licensing-image.png" alt="">
        </div>
    </div>
</div> -->
<div class="container logo_image pb-4">
    <img src="./assets/logi_image_3.png" alt="">
</div>