<footer>
  
  

    <div class="contact-footer">
      <h3>Follow Us</h3>
      <div class="social-links">
        <a href="https://www.facebook.com/Shreenik-Outreach-102688577907077/" target="_blank" class="fab fa-facebook-f"></a>
        <a href="mailto:shreenikoutreach@gmail.com" target="_blank" class="fas fa-envelope"></a>
        <a href="https://www.instagram.com/shreenikoutreach/?hl=en" target="_blank" class="fab fa-instagram"></a>
        <!-- <a href="#" target="_blank" class="fab fa-linkedin"></a> -->
        <a href="https://www.youtube.com/channel/UCSarE96ddgVpcGPOUa73TMw" target="_blank" class="fab fa-youtube"></a>
      </div>
      <p class="Copyright pt-3">Copyright © www.shreenik.com all rights reserved.</p>
    </div>
    
</footer>