<app-header [myData1]="firsttagline" [myData2]="secondtagline" [myData3]="thirdtagline"></app-header>



<h2 class="text-center marketing_heading pt-4">Marketing</h2>
<div class="container para1 py-4">
    <p>No matter how good a film is, there is more to achieving success than the artistic side of the film. Unless the
        public is made aware of an up-and -coming film, there will not be a high turnout for the film. A lack of good
        marketing can cause many problems and stop a film from becoming successful. Similarly, good marketing for a film
        can boost a film’s success levels hugely. Our expertise covers all
        areas of marketing and promotion, including strategy, advertising, on Ground promotions and social media
        campaigns, TV, Radio, Hording, Influencer marketing and outdoor outreach.
    </p>
</div>

<div class="container para2 py-4">
    <h4>Sponsorship And In film Branding</h4>
    <p>Our purpose is to facilitate contact between investors, sponsors and filmmakers. We help producers, filmmakers,
        to identify and approach apt investors and sponsors. Producer can seek funds at any stage of film be it Pre
        production, Production, Post Production, Marketing, Distribution etc. Similarly we provide opportunity to
        investors to collaborate with filmmakers directly without a middle man & have a wide range of films to choose
        from. One of our services comprises of legal licensing of film makers with authorities to get state provided
        benefits and get acquainted with the process.
    </p>
    <h2 class="text-center head2 py-4">Recent Movies</h2>
    <ul>
        <li>
            <img src="../../assets/tarisathe.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="../../assets/Babubhai-Sentimental.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="../../assets/ek-hota-pani.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="../../assets/dahvi.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="../../assets/aron-movie.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="../../assets/LNLS.jpg" class="card-img-top" alt="...">
        </li>
    </ul>
</div>