
<app-header [myData1]="firsttagline" [myData2]="secondtagline" [myData3]="thirdtagline"></app-header>
<div class="heading py-4">
  <h2 class="text-center">About Us</h2>
</div>

<div class="container">
  <div class="pb-4">

    <h4 class="main_para">WE ARE CONTENT CURATORS AND FILM DISTRIBUTION COMPANY BY HEART</h4>
    <p class="paragraph">We are driven by the vision to take the quality content to the mass scale through diverse channels at disposal
      Publicity and Advertising for full length feature film is one of the our core strength. We are based in
      Ahmedabad, Gujarat and have reach office in Mumbai as well. Our extensive distribution capability in Regional,
      National and Overseas enable us to target mass, which yields significant economic growth for content creators
      and quality content for viewers.</p>
  </div>



  <div class="cardcontainer">
    <div class="card mb-4 " style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
          <img src="../../assets/miral.jfif" class="img-fluid rounded-start" height="254px" width="254px" alt="...">
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="card-body">
            <h5 class="card-title">Mr. Miral Shah</h5>
            <p class="card-text">Mr. Miral being a writer himself has created huge impact in company by selecting the
              right source at right time. He has given some good memories to cherish to Dhollywood. After completion of
              his post graduation Mr. Miral started his business in educational field. The inner writer-actor soon
              brought him as producer in Gujarati Industry. With a good experience of handling multiple branches of firm
              at a time he easily started as a leader and mentor for his team.</p>
            <p class="card-text"><small class="text-muted"> <span><i class="fas fa-mobile-alt" style="color: #f7327a; font-size: 1.3rem;"> </i></span>8849599389 </small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card pb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
          <img src="../../assets/vishal.jfif" class="img-fluid rounded-start" height="254px" width="254px" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Mr. Vishal Bhatt</h5>
            <p class="card-text">Mr.Vishal is amongst the leading financial advisors for many companies. Member of
              MDRT.(Million Dollar Round Table - U.S) with a wide range of experience of more than 20 years in Business
              Development, Brand Endorsement and Strategic Planning has made a mark in Entertainment Industry with some
              quality products under his belt.</p>
            <p class="card-text"> <span><i class="fas fa-mobile-alt"></i></span>9408485145</p>
          </div>
        </div>
      </div>
    </div>

  </div>