
<app-header [myData1]="firsttagline" [myData2]="secondtagline" [myData3]="thirdtagline"></app-header>
<div class="container filmdist">

    <h2 class="text-center heading p-4">Film Distribution</h2>
    <p>Our strong reach enables us to maintain transparency and flexibility over core regions in which we distribute our
        films. We distribute our content in all the circuits either through our distribution network offices and through
        trusted sub-distributors. In recent years Gujarati cinema has witnessed upsurge of quality entertaining films
        from talented producers. We believe quality content should reach to audience at the end of lines. Our
        association with all exhibitors and theatre brands across Gujarat and overseas enables us to showcase films to
        Gujarati audience in the state and settled abroad. We distribute our films theatrically overseas through our
        sister company, S R Entertainment which based in Mumbai.</p>
</div>

<div class="container recentmovies p-4">
    <h2 class="text-center heading p-4">Recent Movies</h2>
    <ul>
        <li>
            <img src="./assets/tarisathe.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="./assets/Babubhai-Sentimental.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="./assets/ek-hota-pani.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="./assets/dahvi.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="./assets/aron-movie.jpg" class="card-img-top" alt="...">
        </li>
        <li>
            <img src="./assets/LNLS.jpg" class="card-img-top" alt="...">
        </li>
    </ul>
</div>