<!-- <app-header [myData1]="firsttagline" [myData2]="secondtagline" [myData3]="thirdtagline" [myData4]="fourthtagline"></app-header> -->
<app-homenavbar></app-homenavbar>
 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/Babubhai-Sentimental.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/dahvi.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/tarisathe.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/LNLS.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 

<div class="container intro py-4">
  
  <div class="col-lg-4 p-4  text-center intro_left">
    <img src="../../assets/Logo.png" height="80px" width="110px" alt="image not found">
    <p class="name">Shreenik Outreach</p>
    <p class="details p-0 m-0">Film Distribution| Marketing | Production</p>
    <p class="details p-0 m-0">Project Co-ordination | Film Making | Branding</p>

    <p class="para py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, fugiat? A officia minus
      nam deleniti
      dolorum officiis dolore cupiditate aliquam. Eius error nemo rem odio, autem voluptas iusto optio magni possimus
      cum. Repellat cum unde iusto, illo blanditiis labore atque amet magnam voluptate animi, sunt laboriosam eius
      error! Illum accusantium placeat minima maxime harum optio architecto et totam laudantium cum!</p>
  </div>
  <div class="col-lg-8 mt-4   intro_right ">
    <div>
      <i class="fas fa-film"></i><span>Forthcoming Films</span>
    </div>
    <div>
      <ul>
        <li>
          <img src="../../assets/tarisathe.jpg" class="card-img-top" alt="...">
        </li>
        <li>
          <img src="../../assets/ek-hota-pani.jpg" class="card-img-top" alt="...">
        </li>
        <li>
          <img src="../../assets/dahvi.jpg" class="card-img-top" alt="...">
        </li>
        <li>
          <img src="../../assets/aron-movie.jpg" class="card-img-top" alt="...">
        </li>

      </ul>
    </div>
  </div>

</div>